@import url('styles-standard.css');

/*--------------CSS RESET--------------*/
html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

:root {
    font-size: 62.5%;

    --destaque: #F2542D;
    --light: #F2F4F3;
    --dark-green: #051A13;
    --dark-green-opaco: rgba(5, 26, 19, 0.9);
    --destaque-hover: #F3633F;
    --light-green: #2EF2B1;
}




body {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    font-size: 1.6rem;
    padding: 1.5rem 13.3rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
}

header {
    width: 120rem;
    display: grid;
    grid-template: 1fr / 16.2rem 1fr 16.2rem;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1rem 1.6rem;

    border-radius: .83rem;
    background-color: var(--destaque);

    color: var(--light);
    text-align: center;
    font-family: "Montserrat Alternates";
    font-size: 1.7rem;
    font-weight: 500;
    grid-row: 1;
}


.navegacao {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16.3rem;
    grid-column: 2 / 3;
}

.navegacao__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.1rem;
    list-style: none;
}

.navegacao__lista__itens__link {
    color: var(--light);
    font-family: "Comfortaa";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;

    padding: 0 1.2rem .3rem 1.2rem;
}

.navegacao__lista__itens__link:hover {
    color: var(--destaque-hover);
}

main {
    max-width: 120rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.secao-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.secao-titulo__subtitulo {
    color: var(--light);
    text-align: center;
    font-family: "Comfortaa";
    font-size: 5rem;
    font-weight: 300;
}

.secao-titulo__nome--titulo {
    color: var(--light);
    text-align: center;
    font-family: "Montserrat Alternates";
    font-size: 7.7rem;
    font-weight: 700;
}

.secao-titulo__profissao {
    color: var(--light);
    text-align: center;
    font-family: "Prompt";
    font-size: 3.2rem;
    font-weight: 300;
}

.secao-sobre-mim{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

    color: var(--light);
    text-align: center;
    font-family: "Prompt";
    font-size: 1.7rem;
    font-weight: 300;
}

.secao-habilidade{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.secao-habilidade__tabela{
    border-collapse: collapse;
    width: 100%;
}

.tabela-colunas,.tabela-dados{
    border: .1rem solid var(--light);
    color: var(--light);
    text-align: center;
    padding: 1.0rem;
}

.texto-rodape__destaque{
    color: var(--destaque);
}

/* galeria */

.container-projetos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.container-projetos__link__projetos{
    width: 28.5rem;
    height: 28.5rem;
    border-radius: 3rem;
    border: .1rem solid var(--light);
    background: no-repeat center url(https://www.projetowebsite.com.br/template/images/modelos-de-site/sites-padrao-simples.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-projetos__link:hover .container-projetos__link__projetos{
    border: .1rem solid var(--destaque-hover);
}

.container-projetos__link__projetos__nome{
    width: 28.5rem;
    height: 9.5rem;
    background-color: var(--dark-green-opaco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.container-projetos__link:hover .container-projetos__link__projetos__nome{
    background-color: rgba(248, 128, 98, 0.90);
}

.projetos-nome{
    color: var(--light);
    text-align: center;
    font-family: "Comfortaa";
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 400;
}

.container-projetos__link:hover .projetos-nome{
    color: var(--dark-green);
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.mapa__endereco{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.email__formulario{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.email__formulario__entrada, .email__formulario__entrada-mensagem{
    width: 100%;
    display: flex;
    padding: 1rem 2.0rem;
    align-items: center;
    gap: 1.0rem;
    border-radius: 10rem;
    border: .1rem solid var(--light);
    background-color: transparent;
    color: var(--light);
    font-size: 1.4rem;
}
.email__formulario__entrada-mensagem{
    height: 35rem;
    border-radius: 2.5rem;
}

.email__formulario__entrada::placeholder,.email__formulario__entrada-mensagem::placeholder{
    color: var(--light);
    font-size: 1.2rem;
}

.email__formulario__butao{
    align-self: center;
}